TELEGRAM_BOT_TOKEN=tu_token_aqui
DEEPSEEK_API_KEY=tu_deepseek_key_aqui
GEMINI_API_KEYS=tu_gemini_key_1,tu_gemini_key_2
API_SPORTS_KEY=tu_api_sports_key_aqui
INITIAL_BANKROLL=10000.00
TARGET_BANKROLL=20000.00
DEFAULT_STAKE_PCT=5.0
